.App {
    font-family: 'Josefin Sans', sans-serif;
}

.Page-divider {
  height: 0;
  width: 0;
  border-left: 50vw solid rgba(248, 248, 248, 0.5);
  border-right: 50vw solid rgba(248, 248, 248, 0.5);
  border-top: 30px solid transparent;
  border-bottom: 30px solid rgba(248, 248, 248, 1);
}

.fade-enter {
    opacity: 0.01;
}
.fade-enter.fade-enter-active {
    opacity: 1;
    transition: opacity 300ms ease-in;
}
.fade-leave {
  opacity: 1;
}
.fade-leave.fade-leave-active {
  opacity: 0.01;
  transition: opacity 200ms ease-in;
}

.fade-long-enter {
    opacity: 0.01;
}
.fade-long-enter.fade-long-enter-active {
    opacity: 1;
    transition: opacity 600ms cubic-bezier(0.77, 0, 0.175, 1);
}
.fade-long-leave {
  opacity: 1;
}
.fade-long-leave.fade-long-leave-active {
  opacity: 0.01;
  transition: opacity 200ms cubic-bezier(0.77, 0, 0.175, 1);
}

.header-move-0-enter {
  transform: translate(-108px, 32px);
}
.header-move-0-enter.header-move-0-enter-active {
  transform: translate(0, 0);
  transition: transform 200ms ease-in;
}
.header-move-0-leave {
  transform: translate(0, 0);
}
.header-move-0-leave.header-move-0-leave-active {
  transform: translate(-108px, 32px);
  transition: transform 200ms ease-in;
}

.header-move-1-enter {
  transform: translate(-36px, 32px);
}
.header-move-1-enter.header-move-1-enter-active {
  transform: translate(0, 0);
  transition: transform 200ms ease-in;
}
.header-move-1-leave {
  transform: translate(0, 0);
}
.header-move-1-leave.header-move-1-leave-active {
  transform: translate(-36px, 32px);
  transition: transform 200ms ease-in;
}

.header-move-2-enter {
    transform: translate(36px, 32px);
}
.header-move-2-enter.header-move-2-enter-active {
    transform: translate(0, 0);
    transition: transform 200ms ease-in;
}
.header-move-2-leave {
  transform: translate(0, 0);
}
.header-move-2-leave.header-move-2-leave-active {
  transform: translate(36px, 32px);
  transition: transform 200ms ease-in;
}

.header-move-3-enter {
  transform: translate(108px, 32px);
}
.header-move-3-enter.header-move-3-enter-active {
  transform: translate(0, 0);
  transition: transform 200ms ease-in;
}
.header-move-3-leave {
  transform: translate(0, 0);
}
.header-move-3-leave.header-move-3-leave-active {
  transform: translate(108px, 32px);
  transition: transform 200ms ease-in;
}
