.InfoPage {
    font-size: 0.875em;
}

.InfoPage-section {
    padding: 0 2em;
}

.InfoPage-projects {
    padding: 1em 2em 4em 2em;
    background-color: #F8F8F8; 
}

.InfoPage-header {
    font-size: 1.25em;
    padding: 0.5em 0;
}
