.LinkList {
    text-align: center;
    margin: 1em 0;
    display: flex;
    flex-direction: row-reverse;
}

.LinkList-link {
    margin: 0 0.5em;
}

.LinkList-link-img {
    width: 32px;
    border-radius: 50%;
    filter: opacity(45%) grayscale(100%);
    transition: filter ease-in-out 200ms;
}
.LinkList-link-img:hover {
    filter: none;
}