.Toolbar {
    padding: 0.65em;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.Toolbar-title {
    color: #666666;
    text-align: center;
    margin-right: 32px;
}