.Header {
    height: 195px;
    margin: 0.35em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    border-radius: 10px;
    transition: background-color cubic-bezier(0.86, 0, 0.07, 1) 300ms;
}

.Header-menu-open {
    background-color: #FBF4F4;
}

.Header-img {
    width: 48px;
    margin: 1.5em auto 0.5em auto;
    border-radius: 50%;
}

.Header-title {
    font-size: 1.5em;
    text-align: center;
    margin: 1em 0 0.75em 0;
}

.Header-underline {
    width: 120px;
    margin: 0 auto;
    border-bottom: 1px solid black;
}